<if condition="item.value.width === '50%'">
    <div class="image vertical width-{{ item.value.width }}">
        <img src="{{ item.value.asset }}" />
        <div class="text-container">
            <div class="image-caption-container">
                <p class="image-caption-text">
                    <if condition="item.value.caption">
                        {{{ item.value.caption }}}
                    </if>
                </p>
            </div>
            <p class="image-credit">
                <if condition="item.value.credit">
                    Photo by {{ item.value.credit}}
                </if>
            </p>
        </div>
    </div>
</if>
<else>
    <div class="image width-{{ item.value.width }}">
        <img src="{{ item.value.asset }}" />
        <div class="text-container">
            <div class="image-caption-container">
                <p class="image-caption-text">
                    <if condition="item.value.caption">
                        {{{ item.value.caption }}}
                    </if>
                </p>
            </div>
            <p class="image-credit">
                <if condition="item.value.credit">
                    Photo by {{ item.value.credit}}
                </if>
            </p>
        </div>
    </div>
</else>
